.rating-info-container{
    padding: 24px;

}
.comments{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.user-comment{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 24px;
    box-shadow: 0 1px 4px 1px #ddd;
    overflow: hidden;
    border: 1px solid rgba(255,120,80,0.4);
    
}
.usr-name{
       font-size: 16px;
        font-weight: 500;
        //text-decoration: underline;
        text-rendering: optimizeLegibility;
        color: #333;
    }
.comment-header{
    background-color: rgba(255,120,80,0.2);
    padding-left: 24px;
    
}
.usr-comment{
        
         margin: 12px 24px 12px 24px;

    }
.comment-gen-wraper{
    display: flex;
    flex-direction: column;
    margin-top:24px;
}
.comment-textarea{
    width: 100%;
}