
.sorter-container{
    display: flex;
    flex-direction: row;  
    align-items: center;  
    justify-content: flex-end;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;

    .list_view{

        &:hover{
            cursor: pointer;
            color: rgba(255,80,0,0.8)
        }
    }
    .card_view{

         &:hover{
            cursor: pointer;
            color: rgba(255,80,0,0.8)
        }
    }
}
.sorter-container > * { 
    
    margin-left: 24px;

}