.container{

}
.container{
    display:flex;
    flex-direction: column;
    background-color: white;
}
.email-address{
    display: flex;
    flex-direction: row;

}
.email-address > * {
    flex:1;
}
.account-info > * {
    margin-top: 24px;

}

.account-info{
    display: flex;
    flex-direction: column;
    padding: 24px 24px 0 24px;
    border-right: 1px solid #ddd;
    border-image: radial-gradient(
      circle, 
      orange, 
      rgba(255, 255, 255, 0)
    ) 0.8 60%;
    box-sizing: border-box;
}

.address-info > * {
    margin-top: 24px;
    
}
.address-info{
    display: flex;
    flex-direction: column;
    padding: 24px 24px 0 24px;
    
    box-sizing: border-box;
}
.address-cards{
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0px 0 1px 1px rgb(230,230,230);
}
.credcard-info{
    padding: 24px 24px 0 24px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-image: radial-gradient(
      circle, 
      orange, 
      rgba(255, 255, 255, 0)
    ) 0.8 60%;
}