.mainComp{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    
}

.page-header{
    width: 100vw;
    min-height: 100%;
    height auto;
    position: absolute;


}

.page-main{
    margin-top:142px;
    position: relative;
    min-height: 100vh;
    width: auto;
    height: auto;
    
  
    
}

.page-footer{
    position: relative;
    margin-top: 48px;
    min-height: 180px;
    position: relative;
    background-color: grey 
    z-index:31;

}


