.form-container{
    width:500px ;
    margin: 0 auto;
    background-color: white;
    display: flex;
    border-radius: 4px
    flex-direction: column;
    padding: 40px 20px 0 20px;
    .form-pwrd-container > *{
        margin-right: 40px;
    }
    .form-register{
        display: flex
        flex-direction: column;
    }
    .address-container{
        display: flex;
        flex-direction: column;
        .address > *{
            margin-right: 40px;

        }
    }
    .tspp-checkbox{
           color: orange; 
    }
    .pp-agrmnt-checker{
        margin: 40px auto 40px 0;
    }
}