    // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wraper {
    //     padding: 0 !important;
    // }
    // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    //     border-radius: 2px !important;
    // }
    //  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    //     border-radius: 2px !important;
    // }
    .address-selector{
        display: flex;
        flex-direction:column;
        z-index : 99;
        mat-radio-group {
            margin-top:24px;
            margin-bottom: 24px;
        }
        mat-radio-group > * {
            
            margin-right: 24px;
        }
    }
.submit{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    
    .btn-submit{
        color: white;
        background-color: rgb(255,120,40);
    }
}