.container{
    margin: 0 auto;
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    //align-items: center;
    justify-content: center;
    
}
.container > * {
    margin-right: 48px;
}
.images-wraper {
    display: inline-block;
    height: auto;
    width: 450px;
    max-width: 450px;
}
.images > * {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.images{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    
}


.prod-image{
    min-width: 450px;
    min-height: 450px;
    height: 450px;
    width: 450px;
    max-width: 450px;
    max-height: 450px;
    border: 1px solid #ddd;
}

.image_list{
    margin: 24px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height auto;

    
    
}
image_list_size = 60px;
.list-item{
    display: inline-block;
    width: image_list_size;
    height image_list_size;
    margin-right: 10px;
    border: 1px solid #ddd;
}
    
.image{
        max-width: image_list_size;
        max-height:image_list_size;
}
.info-wraper {
    display: flex;
    flex-direction: column;
    min-width 450px;
    width: 450px;

}

.info{
    width: 450px;
}