/* You can add global styles to this file, and also import other style files */
 div,nav{

    display: block;
    padding: 0;
    margin: 0;
    width: auto;
    height auto;
   
}
ol,ul,dt,dl,dd{
    list-style:none;
    margin: 0;
    padding:0;
}

body,html{
    background-color: rgb(250,250,250);
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow:auto;
   // min-width: 100%;
   // width:100%;
   // max-width: 100vw;
  //  min-height: 100%;
   // height 100%;
}
    mat-dialog-container {
        padding: 0 !important;
    }
   .mat-form-field-appearance-outline .mat-form-field-outline-end {
        border-radius: 2px !important;
    }
   .mat-form-field-appearance-outline .mat-form-field-outline-start {
        border-radius: 2px !important;
    }
    .mat-stroked-button{
        border-radius: 2px !important;
    }